numpy
tensorflow
scikit-learn
joblib
Pillow
matplotlib
seaborn
streamlit

## Setup Instructions

pip install -r requirements.txt
streamlit run streamlit_2.py

# Trained models not included due to size constraints
